<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xia.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F03EA5C41D12EB02008678BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F03EA5D81D12EB02008678BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F03EA5E31D12EB02008678BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
